pip==23.3.1
setuptools==68.2.2
wheel==0.41.2
flask==2.3.5
flask-socketio==6.7.1
eventlet==0.33.3
python-socketio==5.9.0
numpy==1.26.4
pandas==2.1.1
matplotlib==3.8.0
restrictedpython==6.1
gunicorn==22.1.0
